/* here you can put your own css to customize and override the theme */

/* modal */
.modal-backdrop {
	z-index: 9999 !important;
}
.modal-loading {
	margin-top: 200px !important;
}

/* nprogress */
#nprogress .bar {
	z-index: 9999 !important;
}

#nprogress .spinner {
	z-index: 9999;
}

.toast {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.paginator-detail {
	height: 34px;
	text-align: left;
	padding-top: 10px;
}
.th_5 {
	width: 5%;
}
.th_10 {
	width: 10%;
}
.th_15 {
	width: 15%;
}
.th_20 {
	width: 20%;
}

/*cropper*/
/*img.my-avatar {
	max-width:100% !important;
}*/
.cropper-container {
	/*max-height: 500px;*/
	max-width: 100%;
}

img.my-avatar , .img-preview img{
	max-width: 100%;
}
.docs-preview {
    margin-right: -1rem;
}
.img-preview {
    float: left;
    margin-bottom: .5rem;
    margin-right: .5rem;
    overflow: hidden;
}
