/* here you can put your own css to customize and override the theme */

#nprogress .bar {
	z-index: 9999 !important;
}

#nprogress .spinner {
	z-index: 9999;
}

.toast {
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}
.paginator-detail {
	height: 34px;
	text-align: left;
	padding-top: 10px;
}
.th_5 {
	width: 5%;
}
.th_10 {
	width: 10%;
}
.th_15 {
	width: 15%;
}
.th_20 {
	width: 20%;
}

/*dropzone*/
.dropzone {
	min-height: auto !important;
	padding: 0 !important;
}
.dz-image-preview {
	width: 100% !important;
	margin: 0px !important;
}
.dropzone .dz-preview .dz-image {
	width: 100% !important;
}
.dropzone .dz-preview .dz-image img{
	width: 100% !important;
}
.dropzone .dz-message{
	margin: 0 !important;
}
